@import "./base/_reset.scss";
@import "./components/nav";
@import "./base/separadores";
@import "./pages/cajas";
@import "./pages/categorias-Relevantes";
@import "./pages/cards";
@import "./pages/info";
@import "./pages/productos";
@import "./components/footer";
@import "./pages/razones";
@import "./pages/contrata";
@import "./pages/administra";
@import "./pages/nosotros";
@import "./pages/tarjetas";
.contacto{
    display: flex;
    background-color: white;
    height: 600px;
    align-items: center;
}
.contacto__txt{
    margin-left: 3rem;
    margin-top: 40px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.contacto__txt h1{
    font-weight: bold;
    font-size: 3-.5rem;
}
.contacto__txt p{
    font-size: 1.8rem;
}
.contacto__img{
    width: 40%;
}
.contacto__img img{
    width: 100%;
}
.contacto__txt-btn{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contacto__btn{
    border: 1px solid black;
    padding: 10px ;
    width: 220px;
    border-radius: 10px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacto__btn2{
    background-color: black;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
