.contrata{
    margin-top: 20px;
    height: 300px;
    display: flex;
    gap: 50px;
    width: 100%;
    background-color: white;
    margin-bottom: 40px;
}
.contrata__txt{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    gap: 20px;
}
.btn-contrata{
    font-weight: bold;
}
.contrata__txt h1{
    font-size: 1.9rem;
}
.contrata__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(6, 6, 255);
}
.contrata__img img{
    width: 100%;
}